* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  position: relative;
}

body {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  background-color: $lightGray;
  height: 100vh;

  @include breakpoint-down(small) {
    font-size: 1.4rem;
  }
}

h1 {
  font-size: 2.4rem;

  @include breakpoint-down(small) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.8rem;

  @include breakpoint-down(small) {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

.button {
  color: white;
  background-color: $brightYellow;
  padding: 2rem 9rem;
  border-radius: 5px;
}
